body {
  margin-left: auto;
}

.container2 {
  max-width: 100%;
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 300px;
  background-image: url(/img/elis-08.jpg);
}

.container {
  padding: 50px;
}

h1 {
  text-align: center;
  color: #008cba
}