body {
  margin-left: auto;
}

.conteiner2 {
  max-width: 100%;
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 300px;
  background-image: url(/img/elis-08.jpg);
}

.conteiner {
  padding: 50px;
}

h1 {
  text-align: center;
  color: #028cba
}