<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />

<a data-fancybox="gallery" href="{{ .Get "s0"}}" data-caption=""><img src="{{ .Get "sr0"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s1"}}" data-caption=""><img src="{{ .Get "sr1"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s2"}}" data-caption=""><img src="{{ .Get "sr2"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s3"}}" data-caption=""><img src="{{ .Get "sr3"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s4"}}" data-caption=""><img src="{{ .Get "sr4"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s5"}}" data-caption=""><img src="{{ .Get "sr5"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s6"}}" data-caption=""><img src="{{ .Get "sr6"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s7"}}" data-caption=""><img src="{{ .Get "sr7"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s8"}}" data-caption=""><img src="{{ .Get "sr8"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s9"}}" data-caption=""><img src="{{ .Get "sr9"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s10"}}" data-caption=""><img src="{{ .Get "sr10"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s11"}}" data-caption=""><img src="{{ .Get "sr11"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s12"}}" data-caption=""><img src="{{ .Get "sr12"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s13"}}" data-caption=""><img src="{{ .Get "sr13"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s14"}}" data-caption=""><img src="{{ .Get "sr14"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s15"}}" data-caption=""><img src="{{ .Get "sr15"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s16"}}" data-caption=""><img src="{{ .Get "sr16"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s17"}}" data-caption=""><img src="{{ .Get "sr17"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s18"}}" data-caption=""><img src="{{ .Get "sr18"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s19"}}" data-caption=""><img src="{{ .Get "sr19"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s20"}}" data-caption=""><img src="{{ .Get "sr20"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s21"}}" data-caption=""><img src="{{ .Get "sr21"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s22"}}" data-caption=""><img src="{{ .Get "sr22"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s23"}}" data-caption=""><img src="{{ .Get "sr23"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s24"}}" data-caption=""><img src="{{ .Get "sr24"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s25"}}" data-caption=""><img src="{{ .Get "sr25"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s26"}}" data-caption=""><img src="{{ .Get "sr26"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s27"}}" data-caption=""><img src="{{ .Get "sr27"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s28"}}" data-caption=""><img src="{{ .Get "sr28"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s29"}}" data-caption=""><img src="{{ .Get "sr29"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s30"}}" data-caption=""><img src="{{ .Get "sr30"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s31"}}" data-caption=""><img src="{{ .Get "sr31"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s32"}}" data-caption=""><img src="{{ .Get "sr32"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s33"}}" data-caption=""><img src="{{ .Get "sr33"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s34"}}" data-caption=""><img src="{{ .Get "sr34"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s35"}}" data-caption=""><img src="{{ .Get "sr35"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s36"}}" data-caption=""><img src="{{ .Get "sr36"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s37"}}" data-caption=""><img src="{{ .Get "sr37"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s38"}}" data-caption=""><img src="{{ .Get "sr38"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s39"}}" data-caption=""><img src="{{ .Get "sr39"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s40"}}" data-caption=""><img src="{{ .Get "sr40"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s41"}}" data-caption=""><img src="{{ .Get "sr41"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s42"}}" data-caption=""><img src="{{ .Get "sr42"}}" /></a>
<a data-fancybox="gallery" href="{{ .Get "s43"}}" data-caption=""><img src="{{ .Get "sr43"}}" /></a>


<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>