<div>
  <img src="/img/papa/sectora/stadion-pobeda-volgograd_4.jpg" width="750" height="650" alt="Навигация по ТРИБУНАМ" usemap="#Navigation">
</div>
<p><map name="Navigation">
    <area shape="poly" coords="137,134,164,118,147,52,94,90" href="/papa-sectors/c225/" alt="С225">
    <area shape="poly" coords="170,117,213,115,211,22,152,47" href="/papa-sectors/c224/" alt="С224">
    <area shape="poly" coords="142,138,172,168,213,164,211,122,169,123" href="/papa-sectors/c119/" alt="С119">
    <area shape="poly" coords="218,23,218,115,268,115,268,8" href="/papa-sectors/c223/" alt="С223">
    <area shape="poly" coords="218,122,218,168,268,168,268,122," href="/papa-sectors/c118/" alt="c118">
    <area shape="poly" coords="" href="/posts/roditeli/" alt="Работа">
    <area shape="poly" coords="" href="/test/" alt="Разное">

  </map></p>